__pycache__/
*.py[cod]
*$py.class

*.so

.Python
env/
venv/
ENV/
env.bak/
venv.bak/

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

.env
.env.local

node_modules/
dist/
dist-ssr/
*.local

.vscode/
.idea/
.DS_Store
Thumbs.db